{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "singleQuote": true,
  "trailingComma": "all",
  "maxLineLength": 120,
  "semi": true,
  "printWidth": 80,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"]
}
